@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

:root {
    /* --white: #FFF; */

    --rounded: 50%;

    --open-sans: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    font-family: var(--open-sans);

    background-color: white;
    max-width: 100vw;
    height: 100vh;
}
